/* Main Body */

body {
  margin: 0;
}

h1 {
  font-family: "Lily Script One", cursive;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Headings & Logo */

.cc-heading {
  margin: 0;
  color: #fff;
}

.cc-logo {
  width: 105px;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .cc-logo {
    display: none;
  }

  .cc-heading {
    margin: 0 auto;
  }
}

/* Nav Bar */

.nav-bar {
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 75px;
  background-color: #3c3732;
}

.cc-nav-bars {
  color: #fff;
  margin-right: 15px;
}

.cc-nav-area {
  display: inline;
}

@media screen and (min-width: 768px) {
  .cc-nav-bars {
    display: none;
  }
}
